@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <!------------- Categories Carousel ------------->
    <div id="carouselCategory" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-2 col-2">
                        <a href="#"><img src="~/images/slides/maison.png" alt="slide1" /></a>
                    </div>
                    <div class="col-md-2 col-2">
                        <a href="#"><img src="~/images/slides/hotel.png" alt="slide2" /></a>
                    </div>
                    <div class="col-md-2 col-2">
                        <a href="#"><img src="~/images/slides/caravane.png" alt="slide3" /></a>
                    </div>
                    <div class="col-md-2 col-2">
                        <a href="#"><img src="~/images/slides/chambre.png" alt="slide4" /></a>
                    </div>
                    <div class="col-md-2 col-2">
                        <a href="#"><img src="~/images/slides/la-grotte.png" alt="slide5" /></a>
                    </div>
                    <div class="col-md-2 col-2">
                        <a href="#"><img src="~/images/slides/parasol.png" alt="slide6" /></a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-2 col-2">
                        <a href="#"><img src="~/images/slides/camping.png" alt="slide7" /></a>
                    </div>
                    <div class="col-md-2 col-2">
                        <a href="#"><img src="~/images/slides/desert.png" alt="slide8" /></a>
                    </div>
                    <div class="col-md-2 col-2">
                        <a href="#"><img src="~/images/slides/les-terres-agricoles.png" alt="slide9" /></a>
                    </div>
                    <div class="col-md-2 col-2">
                        <a href="#"><img src="~/images/slides/bord-de-mer.png" alt="slide10" /></a>
                    </div>
                    <div class="col-md-2 col-2">
                        <a href="#"><img src="~/images/slides/bateau.png" alt="slide11" /></a>
                    </div>
                    <div class="col-md-2 col-2">
                        <a href="#"><img src="~/images/slides/bowling.png" alt="slide12" /></a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselCategory" role="button" data-bs-slide="prev"
            style="margin-left: -3rem;">
            <span class=" bi bi-chevron-left" style="font-size: 2rem; color: black;"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselCategory" role="button" data-bs-slide="next"
            style="margin-right: -3rem;">
            <span class=" bi bi-chevron-right" style="font-size: 2rem; color: black;"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
    <!------------- /Categories Carousel------------->

    <hr />
    <!------------- Announcements ------------->
    <!--- row 1 --->
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <div id="carouselExample1" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/images/adverts/test6.webp" class="d-block w-100" alt="Image 1">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/adverts/test6.webp" class="d-block w-100" alt="Image 2">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/adverts/test6.webp" class="d-block w-100" alt="Image 3">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">Description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="rating">
                            <!-- Insert your rating logic here (represented by stars) -->
                        </div>
                        <div>
                            <a href="#" class="heart-icon"><i class="bi bi-heart"></i></a>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price per month: 500 DT</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div id="carouselExample2" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/images/adverts/test1.webp" class="d-block w-100" alt="Image 1">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/adverts/test1.webp" class="d-block w-100" alt="Image 2">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/adverts/test1.webp" class="d-block w-100" alt="Image 3">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Title 1</h5>
                    <p class="card-text">Description 1</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="rating">
                            <!-- Insert your rating logic here (represented by stars) -->
                        </div>
                        <div>
                            <a href="#" class="heart-icon"><i class="bi bi-heart"></i></a>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price per month: 500 DT</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div id="carouselExample3" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/images/adverts/test2.webp" class="d-block w-100" alt="Image 1">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/adverts/test2.webp" class="d-block w-100" alt="Image 2">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/adverts/test2.webp" class="d-block w-100" alt="Image 3">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample3"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample3"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Title 2</h5>
                    <p class="card-text">Description 2</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="rating">
                            <!-- Insert your rating logic here (represented by stars) -->
                        </div>
                        <div>
                            <a href="#" class="heart-icon"><i class="bi bi-heart"></i></a>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price per month: 500 DT</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Details</a>
                </div>
            </div>
        </div>

    </div>
    <!--- /row 1 --->
    <!--- row 2 --->
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <div id="carouselExample4" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/images/adverts/test3.webp" class="d-block w-100" alt="Image 1">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/adverts/test3.webp" class="d-block w-100" alt="Image 2">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/adverts/test3.webp" class="d-block w-100" alt="Image 3">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample4"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample4"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Title 1</h5>
                    <p class="card-text">Description 1</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="rating">
                            <!-- Insert your rating logic here (represented by stars) -->
                        </div>
                        <div>
                            <a href="#" class="heart-icon"><i class="bi bi-heart"></i></a>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price per month: 500 DT</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div id="carouselExample5" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/images/adverts/test4.webp" class="d-block w-100" alt="Image 1">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/adverts/test4.webp" class="d-block w-100" alt="Image 2">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/adverts/test4.webp" class="d-block w-100" alt="Image 3">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample5"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample5"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Title 2</h5>
                    <p class="card-text">Description 2</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="rating">
                            <!-- Insert your rating logic here (represented by stars) -->
                        </div>
                        <div>
                            <a href="#" class="heart-icon"><i class="bi bi-heart"></i></a>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price per month: 500 DT</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div id="carouselExample6" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/images/adverts/test5.webp" class="d-block w-100" alt="Image 1">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/adverts/test5.webp" class="d-block w-100" alt="Image 2">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/adverts/test5.webp" class="d-block w-100" alt="Image 3">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample6"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample6"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Title 3</h5>
                    <p class="card-text">Description 3</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="rating">
                            <!-- Insert your rating logic here (represented by stars) -->
                        </div>
                        <div>
                            <a href="#" class="heart-icon"><i class="bi bi-heart"></i></a>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price per month: 500 DT</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Details</a>
                </div>
            </div>
        </div>
    </div>
    <!--- /row 2 --->
    <!------------- /Announcements ------------->

</div>
