@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-2 col-2">
                        <a href="#"><img src="~/images/slides/maison.png" alt="slide1" /></a>
                    </div>
                    <div class="col-md-2 col-2">
                        <a href="#"><img src="~/images/slides/hotel.png" alt="slide2" /></a>
                    </div>
                    <div class="col-md-2 col-2">
                        <a href="#"><img src="~/images/slides/caravane.png" alt="slide3" /></a>
                    </div>
                    <div class="col-md-2 col-2">
                        <a href="#"><img src="~/images/slides/chambre.png" alt="slide4" /></a>
                    </div>
                    <div class="col-md-2 col-2">
                        <a href="#"><img src="~/images/slides/la-grotte.png" alt="slide5" /></a>
                    </div>
                    <div class="col-md-2 col-2">
                        <a href="#"><img src="~/images/slides/parasol.png" alt="slide6" /></a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-2 col-2">
                        <a href="#"><img src="~/images/slides/camping.png" alt="slide7" /></a>
                    </div>
                    <div class="col-md-2 col-2">
                        <a href="#"><img src="~/images/slides/desert.png" alt="slide8" /></a>
                    </div>
                    <div class="col-md-2 col-2">
                        <a href="#"><img src="~/images/slides/les-terres-agricoles.png" alt="slide9" /></a>
                    </div>
                    <div class="col-md-2 col-2">
                        <a href="#"><img src="~/images/slides/bord-de-mer.png" alt="slide10" /></a>
                    </div>
                    <div class="col-md-2 col-2">
                        <a href="#"><img src="~/images/slides/bateau.png" alt="slide11" /></a>
                    </div>
                    <div class="col-md-2 col-2">
                        <a href="#"><img src="~/images/slides/bowling.png" alt="slide12" /></a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev"
            style="margin-left: -3rem;">
            <span class=" bi bi-chevron-left" style="font-size: 2rem; color: black;"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next"
            style="margin-right: -3rem;">
            <span class=" bi bi-chevron-right" style="font-size: 2rem; color: black;"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>


    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header">Card header</h3>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                </div>
                <img src="~/images/img1.webp" width="50%" height="50%" style="margin-left: 25% ;" />
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Reserve</a>
                    <a href="#" class="card-link">Details</a>
                </div>
                <div class="card-footer text-muted">
                    500 DT
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header">Card header</h3>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                </div>
                <img src="~/images/img1.webp" width="50%" height="50%" style="margin-left: 25% ;" />
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Reserve</a>
                    <a href="#" class="card-link">Details</a>
                </div>
                <div class="card-footer text-muted">
                    500 DT
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header">Card header</h3>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                </div>
                <img src="~/images/img1.webp" width="50%" height="50%" style="margin-left: 25% ;" />
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Reserve</a>
                    <a href="#" class="card-link">Details</a>
                </div>
                <div class="card-footer text-muted">
                    500 DT
                </div>
            </div>
        </div>
    </div>
</div>
